:root {
  --Gray-White: #fff;
  --Gray-50: #f0f1f3;
  --Gray-100: #e6e8eb;
  --Gray-200: #C3C7CE;
  --Gray-400: #87909D;
  --Gray-500: #697484;
  --Gray-600: #556070;
  --Gray-700: #424e60;
  --Gray-800: #2b384c;
  --Gray-900: #132238;
  --Primary-500: #a53dff;
  --Primary-600: #8431cc;
  --Primary-900: #210C33;
  --before: #ffc8c8;
  --before-1: #da4df166;
}